VITE_FIREBASE_API_KEY=AIzaSyDwp4xKp8_OFzLisjmmtx3udrnpw8d54H4
VITE_FIREBASE_AUTH_DOMAIN=safecalc-fa36e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=safecalc-fa36e
VITE_FIREBASE_MESSAGING_SENDER_ID=523645155261
VITE_FIREBASE_APP_ID=1:523645155261:web:e6452cae0de461fb1fc4d4